src/AnthologizerClient/Service References/AnthologizerService/AnthologizerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/com.renoster.Anthologizer.Media" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/com.renoster.Anthologizer.Media" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemType" type="tns:ItemTypeEnum" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mimetype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:simpleType name="ItemTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="atomic" />
      <xs:enumeration value="composite" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ItemTypeEnum" nillable="true" type="tns:ItemTypeEnum" />
</xs:schema>