src/AnthologizerClient/Service References/AnthologizerService/AnthologizerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://renoster.com/Anthologizer" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://renoster.com/Anthologizer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://renoster.com/Anthologizer/Imports">
      <xsd:import schemaLocation="http://localhost:34644/Impl/AnthologizerService.svc?xsd=xsd0" namespace="http://renoster.com/Anthologizer" />
      <xsd:import schemaLocation="http://localhost:34644/Impl/AnthologizerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:34644/Impl/AnthologizerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/com.renoster.Anthologizer.Media" />
      <xsd:import schemaLocation="http://localhost:34644/Impl/AnthologizerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAnthologizerService_GetComposite_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComposite" />
  </wsdl:message>
  <wsdl:message name="IAnthologizerService_GetComposite_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompositeResponse" />
  </wsdl:message>
  <wsdl:message name="IAnthologizerService_GetAtomic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAtomic" />
  </wsdl:message>
  <wsdl:message name="IAnthologizerService_GetAtomic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtomicResponse" />
  </wsdl:message>
  <wsdl:portType name="IAnthologizerService">
    <wsdl:operation name="GetComposite">
      <wsdl:input wsaw:Action="http://renoster.com/Anthologizer/IAnthologizerService/GetComposite" message="tns:IAnthologizerService_GetComposite_InputMessage" />
      <wsdl:output wsaw:Action="http://renoster.com/Anthologizer/IAnthologizerService/GetCompositeResponse" message="tns:IAnthologizerService_GetComposite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAtomic">
      <wsdl:input wsaw:Action="http://renoster.com/Anthologizer/IAnthologizerService/GetAtomic" message="tns:IAnthologizerService_GetAtomic_InputMessage" />
      <wsdl:output wsaw:Action="http://renoster.com/Anthologizer/IAnthologizerService/GetAtomicResponse" message="tns:IAnthologizerService_GetAtomic_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>